{% extends "layout2.html" %}

{% block content %}
<main class="hero-section">
    <aside>
	    <div class="sidebar2" >
		    <ul>
			    <li ><a href="{{ url_for('profile') }}">GENERAL INFORMATION</a></li>
			    <li ><a href="{{ url_for('home') }}">GET A RECIPE</a></li>
                <li ><a href="{{ url_for('history') }}">HISTORY</a></li>
			    <li ><a href="{{ url_for('settings') }}">PERSONAL SETTINGS</a></li>
                <li class="selected"><a href="{{ url_for('account_settings') }}">ACCOUNT SETTINGS</a></li>
            </ul>
	    </div>
	</aside>

    <div class="container-settings">
        <form method="POST" action='/account_settings'>
            <div id="user_info">
	            {{ form.hidden_tag() }}
                <br>
                <h1 class="title">Do you want to change something on your profile?</h1>
                <br>
                <br>

                <div class='form-group'>
                    {{ form.new_password.label }}
                    {% if form.new_password.errors %}
                        {% for error in form.new_password.errors %}
                            <p class='error-message'>{{ error }}</p>
                        {% endfor %}
                    {% endif %}

                    {{ form.new_password }}
                </div>
                <br>

                <div class='form-group'>
                    {{ form.new_password2.label }}
                    {% if form.new_password2.errors %}
                        {% for error in form.new_password2.errors %}
                            <p class='error-message'>{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    {{ form.new_password2 }}
                </div>
            </div>
            {{ form.submit(class='btn-primary') }}
        </form>
    </div>

</main>
{% endblock %}