{% extends "layout2.html" %}

{% block content %}
<main class="hero-section">
    <aside>
	<div class="sidebar2" >
		<ul>
			<li ><a href="{{ url_for('profile') }}">GENERAL INFORMATION</a></li>
			<li ><a href="{{ url_for('home') }}">GET A RECIPE</a></li>
			<li ><a href="{{ url_for('history') }}">HISTORY</a></li>
			<li ><a href="{{ url_for('settings') }}">PERSONAL SETTINGS</a></li>
            <li class="selected"><a href="{{ url_for('account_settings') }}">ACCOUNT SETTINGS</a></li>

		</ul>
	</div>
	</aside>

    <div class="container-settings">
        <form method="POST" action='/account_settings'>
            <div id="user_info">
	            {{ form.hidden_tag() }}
                <br>
                <h1 class="title">Do you want to change something on your profile?</h1>
                <br>
                <br>

                <div class='form-group'>
                    {{ form.new_password.label }}
                    {% if form.new_password.errors %}
                        {% for error in form.new_password.errors %}
                            <p class='error-message'>{{ error }}</p>
                        {% endfor %}
                    {% endif %}

                    {{ form.new_password }}
                </div>
                <br>
                <div class='form-group'>
                    {{ form.new_password2.label }}
                    {% if form.new_password2.errors %}
                        {% for error in form.new_password2.errors %}
                            <p class='error-message'>{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    {{ form.new_password2 }}
                </div>
            </div>
            {{ form.submit(class='btn-primary') }}
        </form>
    </div>
    <div class="js-rating-simple jq-rating" data-like="4" data-dislike="2" data-id-review="1501170041370">
        <div class="sprite sprite-fa-thumbs-up-green">
            <img src="url(static/img/like.jpg)">
        </div>
        <div class="jq-rating-like">4</div>
        <div class="sprite sprite-fa-thumbs-o-up-green"></div>
        <div class="jq-rating-dislike">2</div>
    </div>
<style>

.sprite {
    background-image: url(images/icons.png);
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
}

.sprite-fa-thumbs-down-green {
    width: 21px;
    height: 20px;
    background-position: -5px -5px;
}

.sprite-fa-thumbs-down-grey {
    width: 21px;
    height: 20px;
    background-position: -5px -35px;
}

.sprite-fa-thumbs-o-down-green {
    width: 21px;
    height: 22px;
    background-position: -5px -65px;
}

.sprite-fa-thumbs-o-down-grey {
    width: 21px;
    height: 22px;
    background-position: -5px -97px;
}

.sprite-fa-thumbs-o-up-green {
    width: 21px;
    height: 22px;
    background-position: -5px -129px;
}

.sprite-fa-thumbs-o-up-grey {
    width: 21px;
    height: 22px;
    background-position: -5px -161px;
}

.sprite-fa-thumbs-up-green {
    width: 21px;
    height: 20px;
    background-position: -5px -193px;
}

.sprite-fa-thumbs-up-grey {
    width: 21px;
    height: 20px;
    background-position: -5px -223px;
}

.jq-rating {
    padding: 5px 10px;
}

.jq-rating div {
    display: inline-block;
    vertical-align: middle;
    padding: 0 7px;
}

.sprite-fa-thumbs-down-grey:hover {
    background-position: -5px -5px;
}

.sprite-fa-thumbs-up-grey:hover {
    background-position: -5px -193px;
}
</style>
</main>
{% endblock %}