<!-- history page : history of all the recipes and group foods suggested by the website to the user + page where the user can give a rate to a recipe/raw food -->

{% extends "layout2.html" %}
{% block content %}

<main>
	<aside>
	<div class="sidebar2" >
		<ul>
			<li ><a href="{{ url_for('profile') }}">GENERAL INFORMATION</a></li>
			<li ><a href="{{ url_for('home') }}">GET A RECIPE</a></li>
			<li class="selected"><a href="{{ url_for('history') }}">HISTORY</a></li>
			<li ><a href="{{ url_for('settings') }}">SETTINGS</a></li>
            <li><a href="{{ url_for('account_settings') }}">ACCOUNT SETTINGS</a></li>
		</ul>
	</div>
	</aside>

    <form method="POST" action='/history'>
    <form method="GET" action='/history'>
	<div>
    	<h1 class="container-history">What you already tried :</h1>
    </div>
        <div class="pull-left-history">
            <h2><b>Recipe</b></h2>
            {% for key in  response.recipes_name %}
                <br>
                <p>{{ key }}</p>
            {% endfor %}
            <br>
            <br>
            <br>
            <br>
            <br>
            <h2><b>Raw food</b></h2>
            {% for key in  response.rawfood_name %}
                <br>
                <p>{{ key }}</p>
            {% endfor %}
        </div>

        <div  class="pull-center-history">
            <h2><b>Link</b></h2>
            {% for key in response.recipes_link %}
                <br>
                <a href={{key}}>Link</a>
                <br>
            {% endfor %}
        </div>

        <div class="pull-right-history">
            <h2><b>Rate</b></h2>
        <br>
        {% for key in response.recipes_id %}
            {% if response.feedback.filter_by(rid=key).first().mark == 1 %}
        <form>
            <input type="radio" name={{key}} value="1" checked /><img src="/static/img/thumbs-up.png" height="17" width="17" />
            <input type="radio" name={{key}} value="2" /><img src="/static/img/thumbs-down.png" height="17" width="17" />
            <input type="radio" name={{key}} value="3" />Unmarked<br><br>
            {% elif  response.feedback.filter_by(rid=key).first().mark == 2 %}
            <input type="radio" name={{key}} value="1" /><img src="/static/img/thumbs-up.png" height="17" width="17" />
            <input type="radio" name={{key}} value="2" checked /><img src="/static/img/thumbs-down.png" height="17" width="17" />
            <input type="radio" name={{key}} value="3" />Unmarked<br><br>
            {% else %}
            <input type="radio" name={{key}} value="1" /><img src="/static/img/thumbs-up.png" height="17" width="17" />
            <input type="radio" name={{key}} value="2" /><img src="/static/img/thumbs-down.png" height="17" width="17" />
            <input type="radio" name={{key}} value="3" checked/>Unmarked<br><br>
            {% endif %}
        {% endfor %}
                    <input type="submit" value="Submit" class="btn-primary">
        </form>
            <br><br>
            <h2><b>Raw food rate</b></h2>
            <br>
            {% for key in response.rawfood_id %}
            {% if response.feedbackrawfood.filter_by(fid=key).first().mark == 1 %}
        <form>
            <input type="radio" name={{key}} value="1" checked /><img src="/static/img/thumbs-up.png" height="17" width="17" />
            <input type="radio" name={{key}} value="2" /><img src="/static/img/thumbs-down.png" height="17" width="17" />
            <input type="radio" name={{key}} value="3" />Unmarked<br><br>
            {% elif  response.feedbackrawfood.filter_by(fid=key).first().mark == 2 %}
            <input type="radio" name={{key}} value="1" /><img src="/static/img/thumbs-up.png" height="17" width="17" />
            <input type="radio" name={{key}} value="2" checked /><img src="/static/img/thumbs-down.png" height="17" width="17" />
            <input type="radio" name={{key}} value="3" />Unmarked<br><br>
            {% else %}
            <input type="radio" name={{key}} value="1" /><img src="/static/img/thumbs-up.png" height="17" width="17" />
            <input type="radio" name={{key}} value="2" /><img src="/static/img/thumbs-down.png" height="17" width="17" />
            <input type="radio" name={{key}} value="3" checked/>Unmarked<br><br>
            {% endif %}
        {% endfor %}

        <input type="submit" value="Submit" class="btn-primary">
        </form>
        </div>
    </form>
    </form>
</main>


{% endblock %}