{% extends "layout2.html" %}

{% block content %}
<style>
    input[type=range]{
        -webkit-appearance: none;
    }

    input[type=range]::-webkit-slider-runnable-track {
        width: 300px;
        height: 5px;
        background: #ddd;
        border: none;
        border-radius: 3px;
    }

    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: none;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: goldenrod;
        margin-top: -4px;
    }

    input[type=range]:focus {
        outline: none;
    }

    input[type=range]:focus::-webkit-slider-runnable-track {
        background: #ccc;
    }

    input[type=text]{
        width: 45px;
        background-color: #f4f4f4;
        border: none;
    }
</style>

<main class="hero-section">
	<aside>
	    <div class="sidebar2" >
		    <ul>
			    <li ><a href="{{ url_for('profile') }}">GENERAL INFORMATION</a></li>
			    <li class="selected"><a href="{{ url_for('home') }}">GET A RECIPE</a></li>
			    <li ><a href="{{ url_for('history') }}">HISTORY</a></li>
			    <li ><a href="{{ url_for('settings') }}">SETTINGS</a></li>
                <li><a href="{{ url_for('account_settings') }}">ACCOUNT SETTINGS</a></li>
		    </ul>
	    </div>
	</aside>
	
    <div class="container-home">
        <script   src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
        <script type="text/javascript" src="script.js"></script>
        <h2> Hi {{ session['user_name'] }}, insert your information here to get your diet plan.</h2>
            <div id="user_form" class="wrapper">
                <h2>User information</h2>
                <form action="/results" method="get">
             <!-- <form action="/results" method="get"> -->
                <dl>
                <dt> <br> Which cuisine(s) would you like to include?
                <dt>
                  <!-- // <script type="text/javascript" src="{{ url_for('static', filename='js/disable.js') }}"></script> -->
                <script type="text/javascript">
                    $(document).ready(function(){
                        disableCuisines();
                    });
                    function disableCuisines() {
                        if ( document.getElementById('checkAll').checked )
                        {
                            $('.groupCuisine').each(function(){
						        $(this).attr("checked",true);
                                $(this).attr("disabled",true);
                            });
                        }
                        else
                        {
                            $('.groupCuisine').each(function(){
						        $(this).attr("checked",false);
                                $(this).attr("disabled",false);
                            });
                        }
                    };
                </script>
                <form4 name="cuisine" id="cuisine">
                    <input type="checkbox" name="cuisine" id="checkAll" value='' checked onclick="disableCuisines()" >All</input>
                    <input type="checkbox" name="cuisine" class="groupCuisine" value="african">African</input>
                    <input type="checkbox" name="cuisine" class="groupCuisine" value="chinese">Chinese</input>
                    <input type="checkbox" name="cuisine" class="groupCuisine" value="japanese">Japanese</input>
                    <input type="checkbox" name="cuisine" class="groupCuisine" value="korean">Korean</input>
                    <input type="checkbox" name="cuisine" class="groupCuisine" value="vietnamese">Vietnamese</input>
                    <input type="checkbox" name="cuisine" class="groupCuisine" value="thai">Thai</input>
                    <input type="checkbox" name="cuisine" class="groupCuisine" value="indian">iIndian</input>
                    <input type="checkbox" name="cuisine" class="groupCuisine" value="british">British</input>
                    <input type="checkbox" name="cuisine" class="groupCuisine" value="irish">Irish</input>
                    <input type="checkbox" name="cuisine" class="groupCuisine" value="french">French</input>
                    <input type="checkbox" name="cuisine" class="groupCuisine" value="italian">Italian</input>
                    <input type="checkbox" name="cuisine" class="groupCuisine" value="mexican">Mexican</input>
                    <input type="checkbox" name="cuisine" class="groupCuisine" value="spanish">Spanish</input>
                    <input type="checkbox" name="cuisine" class="groupCuisine" value="middle+eastern">Middle Eastern</input>
                    <input type="checkbox" name="cuisine" class="groupCuisine" value="jewish">Jewish</input>
                    <input type="checkbox" name="cuisine" class="groupCuisine" value="american">American</input>
                    <input type="checkbox" name="cuisine" class="groupCuisine" value="cajun">Cajun</input>
                    <input type="checkbox" name="cuisine" class="groupCuisine" value="southern">Southern</input>
                    <input type="checkbox" name="cuisine" class="groupCuisine" value="greek">Greek</input>
                    <input type="checkbox" name="cuisine" class="groupCuisine" value="german">German</input>
                    <input type="checkbox" name="cuisine" class="groupCuisine" value="nordic">Nordic</input>
                    <input type="checkbox" name="cuisine" class="groupCuisine" value="eastern+european">Eastern European</input>
                    <input type="checkbox" name="cuisine" class="groupCuisine" value="caribbean">Caribbean</input>
                    <input type="checkbox" name="cuisine" class="groupCuisine" value="latin+american">Latin American</input>
                 </form4>

            <!-- <font size="3" color="grey">Hold down the Ctrl (windows) / Command (Mac) button to select multiple options.</font> -->

                <dt> <br> What kind of recipes do you want?
                <dt>
                <form8 name="recipeTypes" id="recipeTypes" required="true">
                    <input type="checkbox" name="recipeTypes" value="main+course">Main Course</input>
                    <input type="checkbox" name="recipeTypes" value="side+dish">Side Dish</input>
                    <input type="checkbox" name="recipeTypes" value="dessert">Dessert</input>
                    <input type="checkbox" name="recipeTypes" value="appetizer">Appetizer</input>
                    <input type="checkbox" name="recipeTypes" value="salad">Salad</input>
                    <input type="checkbox" name="recipeTypes" value="bread">Bread</input>
                    <input type="checkbox" name="recipeTypes" value="breakfast">Breakfast</input>
                    <input type="checkbox" name="recipeTypes" value="soup">Soup</input>
                    <input type="checkbox" name="recipeTypes" value="beverage">Beverage</input>
                   <!-- <option value="sauce">Sauce</option> -->
                   <!-- <option value="drink">Drink</option> -->
                </form8>
                <dt> <br> What kind of group foods do you want?
                <dt>
                <form9 name="rawGroups" id="rawGroups" required="true">
                    <script type="text/javascript">
                    $(document).ready(function(){
                        disableRawGroups();
                    });
                    function disableRawGroups() {
                        if ( document.getElementById('checkAll2').checked )
                        {
                            $('.groupRaw').each(function(){
						        $(this).attr("checked",true);
                                $(this).attr("disabled",true);
                            });
                        }
                        else
                        {
                            $('.groupRaw').each(function(){
						        $(this).attr("checked",false);
                                $(this).attr("disabled",false);
                            });
                        }
                    };
                </script>
                    <input type="checkbox" name="rawGroups" id="checkAll2" value='' checked onclick="disableRawGroups()" >All</input>
					<input type="checkbox" name="rawGroups" class="groupRaw" value="Dairy+and+Egg+Products">Dairy and Egg Products</input>
					<input type="checkbox" name="rawGroups" class="groupRaw" value="Spices+and+Herbs">Spices and Herbs</input>
					<input type="checkbox" name="rawGroups" class="groupRaw" value="Baby+Foods">Baby Foods</input>
					<input type="checkbox" name="rawGroups" class="groupRaw" value="Fats+and+Oils">Fats and Oils</input>
					<input type="checkbox" name="rawGroups" class="groupRaw" value="Poultry+Products">Poultry Products</input>
					<input type="checkbox" name="rawGroups" class="groupRaw" value="Soups,+Sauces,+and+Gravies">Soups, Sauces, and Gravies</input>
					<input type="checkbox" name="rawGroups" class="groupRaw" value="Sausages+and+Luncheon+Meats">Sausages and Luncheon Meats</input>
					<input type="checkbox" name="rawGroups" class="groupRaw" value="Breakfast+Cereals">Breakfast Cereals</input>
					<input type="checkbox" name="rawGroups" class="groupRaw" value="Snacks">Snacks</input>
					<input type="checkbox" name="rawGroups" class="groupRaw" value="Fruits+and+Fruit+Juices">Fruits and Fruit Juices</input>
					<input type="checkbox" name="rawGroups" class="groupRaw" value="Pork+Products">Pork Products</input>
					<input type="checkbox" name="rawGroups" class="groupRaw" value="Vegetables+and+Vegetable+Products">Vegetables and Vegetable Products</input>
					<input type="checkbox" name="rawGroups" class="groupRaw" value="Nut+and+Seed+Products">Nut and Seed Products</input>
					<input type="checkbox" name="rawGroups" class="groupRaw" value="Beef+Products">Beef Products</input>
					<input type="checkbox" name="rawGroups" class="groupRaw" value="Beverages">Beverages</input>
					<input type="checkbox" name="rawGroups" class="groupRaw" value="Finfish+and+Shellfish+Products">Finfish and Shellfish Products</input>
					<input type="checkbox" name="rawGroups" class="groupRaw" value="Legumes+and+Legume+Products">Legumes and Legume Products</input>
					<input type="checkbox" name="rawGroups" class="groupRaw" value="Lamb,+Veal,+and+Game+Products">Lamb, Veal, and Game Products</input>
					<input type="checkbox" name="rawGroups" class="groupRaw" value="Baked+Products">Baked Products</input>
					<input type="checkbox" name="rawGroups" class="groupRaw" value="Sweets">Sweets</input>
					<input type="checkbox" name="rawGroups" class="groupRaw" value="Cereal+Grainsand+Pasta">Cereal Grainsand Pasta</input>
					<input type="checkbox" name="rawGroups" class="groupRaw" value="Fast+Foods">Fast Foods</input>
					<input type="checkbox" name="rawGroups" class="groupRaw" value="Meals,+Entrees,+and+Side+Dishes">Meals, Entrees, and Side Dishes</input>
					<input type="checkbox" name="rawGroups" class="groupRaw" value="American+Indian%2FAlaskaNative+Foods">American Indian/Alaska Native Foods</input>
					<input type="checkbox" name="rawGroups" class="groupRaw" value="Restaurant+Foods">Restaurant Foods</input>
                </form9>
                <dt> <br> What would you like to focus on?
                <dt><br>
				<form5 name="objNut" id="objNut">
					<input type="radio" name="objNut" value="Calories" checked>Calories</input>
					<input type="radio" name="objNut" value="Protein">Protein</input>
					<input type="radio" name="objNut" value="Carbs">Carbs</input>
					<input type="radio" name="objNut" value="Fat">Fat</input>
					<input type="radio" name="objNut" value="Price">Price</input>
					<input type="radio" name="objNut" value="Time">Time</input>
				</form5>

				<dt> <br> Do you want to maximize or minimize that?
				<dt>
				<form6 name="obj" id="obj">
					<input type="radio" name="obj" value="Min" checked>Min</input>
					<input type="radio" name="obj" value="Max">Max</input>
				</form6>

                <dt><br>Do you want to change calories ranges (Kcal)?
                <dt>
                <div data-role="rangeslider">
                    <p>Min : <input type="text" name="calLow" id="calLow" value={{response.cal_low}} >
                        <input name="range-1a" id="range-1a" min="1000" max="2500" oninput="updateTextInput1a(this.value);" type="range" value={{response.cal_low}}/>
                        <input name="range-1b" id="range-1b" min="2500" max="4000" oninput="updateTextInput1b(this.value);" type="range" value={{response.cal_up}}/>
                        Max :
                        <input type="text" name="calUp" id="calUp" value={{response.cal_up}}>
                    </p>
                </div>


                 <dt><br>Do you want to change protein ranges (g) ?
                 <dt>
                 <div data-role="rangeslider">
                    <p>Min : <input type="text" name="protLow" id="protLow" value={{response.prot_low}}>
                        <input name="range-2a" id="range-2a" min="0" max="400" oninput="updateTextInput2a(this.value);" type="range" value="{{response.prot_low}}"/>
                        <input name="range-2b" id="range-2b" min="400" max="800" value="{{response.prot_up}}" oninput="updateTextInput2b(this.value);" type="range"/>
                        Max :
                        <input type="text" name="protUp" id="protUp" value={{response.prot_up}}>
                    </p>
                </div>

                 <dt><br>Do you want to change carb ranges (g) ?
                 <dt>
                 <div data-role="rangeslider">
                    <p>Min : <input type="text" name="carbLow" id="carbLow" value={{response.carb_low}}>
                        <input name="range-3a" id="range-3a" min="0" max="400" oninput="updateTextInput3a(this.value);" type="range" value="{{response.carb_low}}"/>
                        <input name="range-3b" id="range-3b" min="400" max="800" value="{{response.carb_up}}" oninput="updateTextInput3b(this.value);" type="range"/>
                        Max :
                        <input type="text" name="carbUp" id="carbUp" value={{response.carb_up}}>
                    </p>
                 </div>


                 <dt><br>Do you want to change fat ranges (g)?
                 <dt>
                 <div data-role="rangeslider">
                    <p> Min : <input type="text" name="fatLow" id="fatLow" value={{response.fat_low}}>
                        <input name="range-4a" id="range-4a" min="0" max="250" oninput="updateTextInput4a(this.value,this.id);" type="range" value="{{response.fat_low}}"/>
                        <input name="range-4b" id="range-4b" min="250" max="500" value="{{response.fat_up}}"  oninput="updateTextInput4b(this.value);" type="range"/>
                        Max :
                        <input type="text" name="fatUp" id="fatUp" value={{response.fat_up}}>
                    </p>
                </div>

                 <dt> <br> <!--input type=submit id="search" value=Submit-->
                 <div id="formsubmitbutton">
                    <input type=submit id="search" value="Show me recipes" onclick="ButtonClicked()">
                 </div>

                 <div id="buttonreplacement" style="margin-left:30px; display:none;">
			        <img src="static/img/loader.gif" alt="loading...">
                 </div>
			<!-- below js code is for loading gif on submit button -->
                </dl>
                <dt>
            </form>

        </div>

    </div>


    <script type="text/javascript">
          function updateTextInput4a(val) {
            document.getElementById('fatLow').value=val;
          }
          function updateTextInput4b(val) {
                document.getElementById('fatUp').value=val; }

          function updateTextInput3a(val) {
            document.getElementById('carbLow').value=val;
          }
          function updateTextInput3b(val) {
                document.getElementById('carbUp').value=val; }

          function updateTextInput2a(val) {
            document.getElementById('protLow').value=val;
          }
          function updateTextInput2b(val) {
                document.getElementById('protUp').value=val; }

          function updateTextInput1a(val) {
            document.getElementById('calLow').value=val;
          }
          function updateTextInput1b(val) {
                document.getElementById('calUp').value=val; }
    </script>

    <script type="text/javascript">
        function ButtonClicked()
        {
           document.getElementById("formsubmitbutton").style.display = "none"; // to undisplay
           document.getElementById("buttonreplacement").style.display = ""; // to display
           return true;
        }
        var FirstLoading = true;
        function RestoreSubmitButton()
        {
           if( FirstLoading )
           {
              FirstLoading = false;
              return;
           }
           document.getElementById("formsubmitbutton").style.display = ""; // to display
           document.getElementById("buttonreplacement").style.display = "none"; // to undisplay
        }
        // To disable restoring submit button, disable or delete next line.
        document.onfocus = RestoreSubmitButton;
    </script>

</main>
{% endblock %}