{% extends "layout.html" %}

{% block content %}
  <main class="hero-section">
    <div class="container">
      
    <!-- <h1>Home</h1> -->
    <a href="{{ url_for('logout') }}" class="btn-logout">Log Out</a>


<script   src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>

 <script type="text/javascript" src="script.js"></script>
     <h2> Hi, insert your information here to get your diet plan.
     </h2> 
         <div id="user_form" class="wrapper">
           <h2>User information</h2>
             <form action="/basicresults" method="get">
             <!-- <form action="/results" method="get"> -->
               <dl>
                 <dt>How old are you?
                 <dt><input type=number name=age id="age" min=3 required="true">
                 <dt> <br> How much (in kg) do you weight?
                 <dt><input type=number name=weight id="weight" min=0 required="true">
                 <dt> <br> How tall (in cm) are you?
                 <dt><input type=number name=height id="height" min=0 required="true">
                 <dt> <br> What is your gender?
                 <dt>
                <form1 name="gender" id="gender">
                   <input type="radio" name="gender" value="Female" checked>Female</input>
                   <input type="radio" name="gender" value="Male">Male</input>
                 </form1>
                 <dt> <br> What is your activity level?
                 <dt>
                   <form2 name="exerciseLevel" id="exerciseLevel">
                   <input type="radio" name="exerciseLevel" value="Sedentary">Sedentary</input>
                   <input type="radio" name="exerciseLevel" value="Low Active">Low Active</input>
                   <input type="radio" name="exerciseLevel" value="Active" checked>Active</input>
                   <input type="radio" name="exerciseLevel" value="Very Active">Very Active</input>
                 </form2>
                 <dt> <br> Which diet are you following?
                 <dt>
                       <form3 name="diet" id="diet">
                         <input type="radio" name="diet" value=None checked>None</input>
                         <input type="radio" name="diet" value="pescetarian">Pescetarian</input>
                         <input type="radio" name="diet" value="lacto+vegetarian">Lacto Vegetarian</input>
                         <input type="radio" name="diet" value="ovo+vegetarian">Ovo Vegetarian</input>
                         <input type="radio" name="diet" value="vegan">Vegan</input>
                         <input type="radio" name="diet" value="paleo">Paleo</input>
                         <input type="radio" name="diet" value="primal">Primal</input>
                         <input type="radio" name="diet" value="vegetarian">Vegetarian</input>
                       </form3>
                 <dt>
                 <dt> <br> Which cuisine(s) would you like to include?
                 <dt>
                  <!-- // <script type="text/javascript" src="{{ url_for('static', filename='js/disable.js') }}"></script> -->
                 <script type="text/javascript">
                  $(document).ready(function(){
                    disableCuisines();
                  });
                    function disableCuisines() {
                    if ( document.getElementById('checkAll').checked ) 
                      { 
                        $('.groupCuisine').each(function(){
                          $(this).attr("disabled",true);
                        }); 
                      } 
                    else 
                      {
                        $('.groupCuisine').each(function(){
                          $(this).attr("disabled",false);
                        }); 
                      }
                  };
                 </script>
                 <form4 name="cuisine" id="cuisine">
                 <input type="checkbox" name="cuisine" id="checkAll" value=None checked onclick="disableCuisines()" >All</input>
                 <input type="checkbox" name="cuisine" class="groupCuisine" value="african">African</input>
                 <input type="checkbox" name="cuisine" class="groupCuisine" value="chinese">Chinese</input>
                 <input type="checkbox" name="cuisine" class="groupCuisine" value="japanese">Japanese</input>
                 <input type="checkbox" name="cuisine" class="groupCuisine" value="korean">Korean</input>
                 <input type="checkbox" name="cuisine" class="groupCuisine" value="vietnamese">Vietnamese</input>
                 <input type="checkbox" name="cuisine" class="groupCuisine" value="thai">Thai</input>
                 <input type="checkbox" name="cuisine" class="groupCuisine" value="indian">iIndian</input>
                 <input type="checkbox" name="cuisine" class="groupCuisine" value="british">British</input>
                 <input type="checkbox" name="cuisine" class="groupCuisine" value="irish">Irish</input>
                 <input type="checkbox" name="cuisine" class="groupCuisine" value="french">French</input>
                 <input type="checkbox" name="cuisine" class="groupCuisine" value="italian">Italian</input>
                 <input type="checkbox" name="cuisine" class="groupCuisine" value="mexican">Mexican</input>
                 <input type="checkbox" name="cuisine" class="groupCuisine" value="spanish">Spanish</input>
                 <input type="checkbox" name="cuisine" class="groupCuisine" value="middle+eastern">Middle Eastern</input>
                 <input type="checkbox" name="cuisine" class="groupCuisine" value="jewish">Jewish</input>
                 <input type="checkbox" name="cuisine" class="groupCuisine" value="american">American</input>
                 <input type="checkbox" name="cuisine" class="groupCuisine" value="cajun">Cajun</input>
                 <input type="checkbox" name="cuisine" class="groupCuisine" value="southern">Southern</input>
                 <input type="checkbox" name="cuisine" class="groupCuisine" value="greek">Greek</input>
                 <input type="checkbox" name="cuisine" class="groupCuisine" value="german">German</input>
                 <input type="checkbox" name="cuisine" class="groupCuisine" value="nordic">Nordic</input>
                 <input type="checkbox" name="cuisine" class="groupCuisine" value="eastern+european">Eastern European</input>
                 <input type="checkbox" name="cuisine" class="groupCuisine" value="caribbean">Caribbean</input>
                 <input type="checkbox" name="cuisine" class="groupCuisine" value="latin+american">Latin American</input>
                </form4>

            <!-- <font size="3" color="grey">Hold down the Ctrl (windows) / Command (Mac) button to select multiple options.</font> -->

                  <dt> <br> Do you have any intolerances?
                  <dt>
                  <script type="text/javascript"> 
                  $(document).ready(function(){
                    disableIntolerances();
                  });
                    function disableIntolerances() {
                    if ( document.getElementById('noIntol').checked ) 
                      { 
                        $('.groupIntol').each(function(){
                          $(this).attr("disabled",true);
                        }); 
                      } 
                    else 
                      {
                        $('.groupIntol').each(function(){
                          $(this).attr("disabled",false);
                        }); 
                      }
                  };
                  </script>
                  <form5 name="intolerances" id="intolerances">
                  <input type="checkbox" name="intolerances" id="noIntol" value=None checked onclick="disableIntolerances()">No</input>
                  <input type="checkbox" name="intolerances" class="groupIntol" value="dairy">Dairy</input>
                  <input type="checkbox" name="intolerances" class="groupIntol" value="egg">Egg</input>
                  <input type="checkbox" name="intolerances" class="groupIntol" value="gluten">Gluten</input>
                  <input type="checkbox" name="intolerances" class="groupIntol" value="peanut">Peanut</input>
                  <input type="checkbox" name="intolerances" class="groupIntol" value="sesame">Sesame</input>
                  <input type="checkbox" name="intolerances" class="groupIntol" value="seafood">Seafood</input>
                  <input type="checkbox" name="intolerances" class="groupIntol" value="shellfish">Shellfish</input>
                  <input type="checkbox" name="intolerances" class="groupIntol" value="soy">Soy</input>
                  <input type="checkbox" name="intolerances" class="groupIntol" value="sulfite">Sulfite</input>
                  <input type="checkbox" name="intolerances" class="groupIntol" value="tree+nut">Tree Nut</input>
                  <input type="checkbox" name="intolerances" class="groupIntol" value="wheat">Wheat</input>
                 </form5>

                 <dt> <br> Which nutient do you want to focus on?
                 <dt>
                 <form6 name="objNut" id="objNut">
                   <input type="radio" name="objNut" value="Calories" checked>Calories</input>
                   <input type="radio" name="objNut" value="Protein">Protein</input>
                   <input type="radio" name="objNut" value="Carbs">Carbs</input>
                   <input type="radio" name="objNut" value="Fat">Fat</input>
                 </form6>

                 <dt> <br> Do you want to maximize or minimize that?
                 <dt>
                 <form7 name="obj" id="obj">
                   <input type="radio" name="obj" value="Min" checked>Min</input>
                   <input type="radio" name="obj" value="Max">Max</input>
                 </form7>
                 <dt> <br> Which kind of recipes do you want? (One or more)
                 <dt>
                 <form8 name="recipeTypes" id="recipeTypes" required="true">
                   <input type="checkbox" name="recipeTypes" value="main+course">Main Course</ipnut>
                   <input type="checkbox" name="recipeTypes" value="side+dish">Side Dish</input>
                   <input type="checkbox" name="recipeTypes" value="dessert">Dessert</input>
                   <input type="checkbox" name="recipeTypes" value="appetizer">Appetizer</input>
                   <input type="checkbox" name="recipeTypes" value="salad">Salad</input>
                   <input type="checkbox" name="recipeTypes" value="bread">Bread</input>
                   <input type="checkbox" name="recipeTypes" value="breakfast">Breakfast</input>
                   <input type="checkbox" name="recipeTypes" value="soup">Soup</input>
                   <input type="checkbox" name="recipeTypes" value="beverage">Beverage</input>
                   <!-- <option value="sauce">Sauce</option> -->
                   <!-- <option value="drink">Drink</option> -->
                 </form8>

                 <dt> <br> <input type=submit id="search" value=Submit>
               </dl>
               <dt>
             </form>

           </div>




    </div>
  </main>
{% endblock %}