{% extends "layout.html" %}

{% block content %}
  <main class="hero-section">
    <div class="container">
      
      <div class="section-content">
        <h2>Find recipes that meet your nutritional requirements.</h2>
        <a href="{{ url_for('signup') }}" class="btn-primary">Sign up</a>
        <a href="{{ url_for('about') }}" class="btn-secondary">Learn more</a> 
        <br>
        <a href="{{ url_for('login') }}" class="btn-login">Log In</a>
      </div>

      <div class="section-device">
        <img src="static/img/sample.png">
      </div>
      
      <div class="clearfix"></div>

    </div>
  </main>
{% endblock %}