{% extends "layout.html" %}

{% block content %}
	<main class="container signup-section">
		<div class="section-content">
			<h2>Log In</h2>

			<form method="POST" action="/login">
				{{ form.hidden_tag() }}

				<div class="form-group">
					{{ form.nick_name.label }}
					{{ form.nick_name }}
				</div>

				<div class="form-group">
					{{ form.password.label }}
					{{ form.password }}
				</div>

				{{ form.submit(class="btn-primary") }}

			</form>
			<p>Forgot your password? <a href="{{ url_for('password_reset_request') }}">Click here to reset it</a>.</p>
      		<p>New user? <a href="{{ url_for('signup1') }}">Click here to register</a>.</p>
		</div>
	</main>
{% endblock %}