<!-- <html>
    <head>

      <title>Diet Optimization</title>
      <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    </head>
   <body> -->
    {% extends "layout.html" %}

    {% block content %}

    <a href="{{ url_for('logout') }}" class="btn-logout">Log Out</a>
    
     <script type="text/javascript" src="script.js"></script>
     <h2 id="newformh2"> Change your information here.
     </h2>
         <div id="user_form" class="wrapper">
           <form action="/recresults" method="get">
             <dl>

                 <dt>Which diet are you following?
                 <dt>
                   <form3 name="diet" id="diet">
                   {% for key, value in response.diet_dictionary.iteritems() %}
                      {% if key == response.diet %}
                        <input type="radio" name="diet" value="{{key}}" checked>{{value}}</input>
                      {% else %}
                        <input type="radio" name="diet" value="{{key}}">{{value}}</input>
                        <!-- <input type="radio" value="{{key}}">{{value}}</input> -->
                      {% endif %}
                   {% endfor %}
                   </form3>

                 <dt>
                 <dt><br>Which cuisine(s) would you like to include?
                 <dt>
                   <form4 name="cuisine" id="cuisine">
                     {% for key, value in response.cuisine_dictionary.iteritems() %}
                        {% if key in response.cuisine %}
                          <input type="checkbox" name="cuisine" value="{{key}}" checked>{{value}}</input>
                        {% else %}
                          <input type="checkbox" name="cuisine" value="{{key}}">{{value}}</input>
                        {% endif %}
                     {% endfor %}
                   </form4>

            <!-- <font size="3" color="grey">Hold down the Ctrl (windows) / Command (Mac) button to select multiple options.</font> -->

                  <dt><br> Do you have any intolerances?
                  <dt>
                    <form5 name="intolerances" id="intolerances">
                      {% for key, value in response.intolerances_dictionary.iteritems() %}
                         {% if key in response.intolerances %}
                           <input type="checkbox" name="intolerances" value="{{key}}" checked>{{value}}</input>
                         {% else %}
                           <input type="checkbox" name="intolerances" value="{{key}}">{{value}}</input>
                         {% endif %}
                      {% endfor %}
                   </form5>

                 <dt><br> Which nutient do you want to focus on?
                 <dt>
                   <form6 name="objNut" id="objNut">
                     {% for key in response.obj_nut_list %}
                        {% if key in response.obj_nut %}
                          <input type="radio" name="objNut" value="{{key}}" checked>{{key}}</input>
                        {% else %}
                          <input type="radio" name="objNut" value="{{key}}">{{key}}</input>
                        {% endif %}
                     {% endfor %}
                   </form6>

                 <dt><br> Do you want to maximize or minimize that?
                 <dt>
                 <form7 name="obj" id="obj">
                   {% for key in response.obj_list %}
                      {% if key in response.obj %}
                        <input type="radio" name="obj" value="{{key}}" checked>{{key}}</input>
                      {% else %}
                        <input type="radio" name="obj" value="{{key}}">{{key}}</input>
                      {% endif %}
                   {% endfor %}
                 </form7>
                 <br>
                 <dt><br> What kind of recipes do you want? (Up to 3)
                 <dt>
                 <form8 name="recipeTypes" id="recipeTypes">
                   {% for key, value in response.recipe_types_dictionary.iteritems() %}
                      {% if key in response.recipe_types %}
                        <input type="checkbox" name="recipeTypes" value="{{key}}" checked>{{value}}</input>
                      {% else %}
                        <input type="checkbox" name="recipeTypes" value="{{key}}">{{value}}</input>
                      {% endif %}
                   {% endfor %}
                 </form8>

                 <dt><br>Calories (kcal):</dt>
                 <!-- Lower Bound: <input type=number value="{{response.cal_low}}" name="calLow" id="calLow">
                 Upper Bound: <input type=number value="{{response.cal_up}}" min="{{response.cal_low}}" name="calUp" id="calUp"> -->

                 <script type="text/javascript">
                 function updateTextInput1a(val) {
                document.getElementById('calLow').value=val; }
                function updateTextInput1b(val) {
                document.getElementById('calUp').value=val; }
                 </script>

                 <div data-role="rangeslider">
                  <label for="range-1a">Lower Bound:</label>
                  <input name="range-1a" id="range-1a" min="1000" max="4000" onchange="updateTextInput1a(this.value);" type="range" value="{{response.cal_low}}"/>
                  <input type="text" name="calLow" id="calLow" value="{{response.cal_low}}">
                  <br>
                  <label for="range-1b">Upper Bound:</label>
                  <input name="range-1b" id="range-1b" min="1000" max="4000" value="{{response.cal_up}}" onchange="updateTextInput1b(this.value);" type="range"/>
                  <input type="text" name="calUp" id="calUp" value="{{response.cal_up}}">
                </div>

                <br>

                 <dt>Protein (g):</dt>
                 <!-- Lower Bound: <input type=number value="{{response.prot_low}}" name="protLow" id="protLow">
                 Upper Bound: <input type=number value="{{response.prot_up}}" name="protUp" id="protUp"> -->

                 <script type="text/javascript">
                 function updateTextInput2a(val) {
                document.getElementById('protLow').value=val; }
                function updateTextInput2b(val) {
                document.getElementById('protUp').value=val; }
                 </script>

                 <div data-role="rangeslider">
                  <label for="range-2a">Lower Bound:</label>
                  <input name="range-2a" id="range-2a" min="0" max="800" onchange="updateTextInput2a(this.value);" type="range" value="{{response.prot_low}}"/>
                  <input type="text" name="protLow" id="protLow" value="{{response.prot_low}}">
                  <br>
                  <label for="range-2b">Upper Bound:</label>
                  <input name="range-2b" id="range-2b" min="0" max="800" value="{{response.prot_up}}" onchange="updateTextInput2b(this.value);" type="range"/>
                  <input type="text" name="protUp" id="protUp" value="{{response.prot_up}}">
                </div>

                 <br>

                 <dt>Carb (g):</dt>
                <!--  Lower Bound: <input type=number value="{{response.carb_low}}" name="carbLow" id="carbLow">
                 Upper Bound: <input type=number value="{{response.carb_up}}" name="carbUp" id="carbUp"> -->

                 <script type="text/javascript">
                 function updateTextInput3a(val) {
                document.getElementById('carbLow').value=val; }
                function updateTextInput3b(val) {
                document.getElementById('carbUp').value=val; }
                 </script>

                 <div data-role="rangeslider">
                  <label for="range-3a">Lower Bound:</label>
                  <input name="range-3a" id="range-3a" min="0" max="800" onchange="updateTextInput3a(this.value);" type="range" value="{{response.carb_low}}"/>
                  <input type="text" name="carbLow" id="carbLow" value="{{response.carb_low}}">
                  <br>
                  <label for="range-3b">Upper Bound:</label>
                  <input name="range-3b" id="range-3b" min="0" max="800" value="{{response.carb_up}}" onchange="updateTextInput3b(this.value);" type="range"/>
                  <input type="text" name="carbUp" id="carbUp" value="{{response.carb_up}}">
                </div>

                 <br>

                 <dt>Fat (g):</dt>
                 <!-- Lower Bound: <input type=number value="{{response.fat_low}}" name="fatLow" id="fatLow">
                 Upper Bound: <input type=number value="{{response.fat_up}}" name="fatUp" id="fatUp"> -->

                 <script type="text/javascript">
                 function updateTextInput4a(val) {
                document.getElementById('fatLow').value=val; }
                function updateTextInput4b(val) {
                document.getElementById('fatUp').value=val; }
                 </script>

                 <div data-role="rangeslider">
                  <label for="range-4a">Lower Bound:</label>
                  <input name="range-4a" id="range-3a" min="0" max="500" onchange="updateTextInput4a(this.value);" type="range" value="{{response.fat_low}}"/>
                  <input type="text" name="fatLow" id="fatLow" value="{{response.fat_low}}">
                  <br>
                  <label for="range-4b">Upper Bound:</label>
                  <input name="range-4b" id="range-4b" min="0" max="500" value="{{response.fat_up}}" onchange="updateTextInput4b(this.value);" type="range"/>
                  <input type="text" name="fatUp" id="fatUp" value="{{response.fat_up}}">
                </div>

                <br>

                <div id="formsubmitbutton">
                 <dt><br><input type=submit id="search" value=Submit onClick="ButtonClicked()">
                </div>

                <div id="buttonreplacement" style="margin-left:30px; margin-top:30px; display:none;">
                  <img src="static/img/loader.gif" alt="loading...">
                </div>
                  <!-- below js code is for loading gif on submit button -->
                  <script type="text/javascript">

                  function ButtonClicked()
                  {
                     document.getElementById("formsubmitbutton").style.display = "none"; // to undisplay
                     document.getElementById("buttonreplacement").style.display = ""; // to display
                     return true;
                  }
                  var FirstLoading = true;
                  function RestoreSubmitButton()
                  {
                     if( FirstLoading )
                     {
                        FirstLoading = false;
                        return;
                     }
                     document.getElementById("formsubmitbutton").style.display = ""; // to display
                     document.getElementById("buttonreplacement").style.display = "none"; // to undisplay
                  }
                  // To disable restoring submit button, disable or delete next line.
                  document.onfocus = RestoreSubmitButton;
                  </script>

               </dl>
               <dt>
             </form>
           </div>
<!--    </body>
</html> -->
{% endblock %}
