<!-- <html>
    <head>

      <title>Diet Optimization</title>
      <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    </head>
   <body> -->
    {% extends "layout.html" %}

    {% block content %}

    <a href="{{ url_for('logout') }}" class="btn-logout">Log Out</a>
    
     <script type="text/javascript" src="script.js"></script>
     <h2 id="newformh2"> Change your information here.
     </h2>
         <div id="user_form" class="wrapper">
           <form action="/recresults" method="get">
             <dl>

                 <dt>Which diet are you following?
                 <dt>
                   <form3 name="diet" id="diet">
                   {% for key, value in response.diet_dictionary.iteritems() %}
                      {% if key == response.diet %}
                        <input type="radio" name="diet" value="{{key}}" checked>{{value}}</input>
                      {% else %}
                        <input type="radio" name="diet" value="{{key}}">{{value}}</input>
                        <!-- <input type="radio" value="{{key}}">{{value}}</input> -->
                      {% endif %}
                   {% endfor %}
                   </form3>

                 <dt>
                 <dt><br>Which cuisine(s) would you like to include?
                 <dt>
                   <form4 name="cuisine" id="cuisine">
                     {% for key, value in response.cuisine_dictionary.iteritems() %}
                        {% if key in response.cuisine %}
                          <input type="checkbox" name="cuisine" value="{{key}}" checked>{{value}}</input>
                        {% else %}
                          <input type="checkbox" name="cuisine" value="{{key}}">{{value}}</input>
                        {% endif %}
                     {% endfor %}
                   </form4>

            <!-- <font size="3" color="grey">Hold down the Ctrl (windows) / Command (Mac) button to select multiple options.</font> -->

                  <dt><br> Do you have any intolerances?
                  <dt>
                    <form5 name="intolerances" id="intolerances">
                      {% for key, value in response.intolerances_dictionary.iteritems() %}
                         {% if key in response.intolerances %}
                           <input type="checkbox" name="intolerances" value="{{key}}" checked>{{value}}</input>
                         {% else %}
                           <input type="checkbox" name="intolerances" value="{{key}}">{{value}}</input>
                         {% endif %}
                      {% endfor %}
                   </form5>

                 <dt><br> Which nutient do you want to focus on?
                 <dt>
                   <form6 name="objNut" id="objNut">
                     {% for key in response.obj_nut_list %}
                        {% if key in response.obj_nut %}
                          <input type="radio" name="objNut" value="{{key}}" checked>{{key}}</input>
                        {% else %}
                          <input type="radio" name="objNut" value="{{key}}">{{key}}</input>
                        {% endif %}
                     {% endfor %}
                   </form6>

                 <dt><br> Do you want to maximize or minimize that?
                 <dt>
                 <form7 name="obj" id="obj">
                   {% for key in response.obj_list %}
                      {% if key in response.obj %}
                        <input type="radio" name="obj" value="{{key}}" checked>{{key}}</input>
                      {% else %}
                        <input type="radio" name="obj" value="{{key}}">{{key}}</input>
                      {% endif %}
                   {% endfor %}
                 </form7>
                 <br>
                 <dt><br> Which kind of recipes do you want? (One or more)
                 <dt>
                 <form8 name="recipeTypes" id="recipeTypes">
                   {% for key, value in response.recipe_types_dictionary.iteritems() %}
                      {% if key in response.recipe_types %}
                        <input type="checkbox" name="recipeTypes" value="{{key}}" checked>{{value}}</input>
                      {% else %}
                        <input type="checkbox" name="recipeTypes" value="{{key}}">{{value}}</input>
                      {% endif %}
                   {% endfor %}
                 </form8>

                 <dt><br>Calories:</dt>
                 Lower Bound: <input type=number value="{{response.cal_low}}" name="calLow" id="calLow">
                 Upper Bound: <input type=number value="{{response.cal_up}}" name="calUp" id="calUp">

                 <dt>Protein:</dt>
                 Lower Bound: <input type=number value="{{response.prot_low}}" name="protLow" id="protLow">
                 Upper Bound: <input type=number value="{{response.prot_up}}" name="protUp" id="protUp">

                 <dt>Carb:</dt>
                 Lower Bound: <input type=number value="{{response.carb_low}}" name="carbLow" id="carbLow">
                 Upper Bound: <input type=number value="{{response.carb_up}}" name="carbUp" id="carbUp">

                 <dt>Fat:</dt>
                 Lower Bound: <input type=number value="{{response.fat_low}}" name="fatLow" id="fatLow">
                 Upper Bound: <input type=number value="{{response.fat_up}}" name="fatUp" id="fatUp">


                 <dt><br><input type=submit id="search" value=Submit>
               </dl>
               <dt>
             </form>
           </div>
<!--    </body>
</html> -->
{% endblock %}
