{% extends "layout.html" %}
{% block content %}

    <style>
        body{
            background:url(static/img/food_world.jpg) no-repeat center;
        }
    </style>
    
<main>
<form  id="msform" method="POST" action='/personal_details'>
				{{ form.hidden_tag() }}
  <!-- progressbar -->
  <ul id="progressbar">
    <li >Account Setup</li>
    <li class="active">Personal Details</li>
  </ul>
  <!-- fieldsets -->

<fieldset>
    <h2 class="fs-title">Personal Details</h2>
	<div class='form-group'>
		{{ form.first_name.label }}

		{% if form.first_name.errors %}
			{% for error in form.first_name.errors %}
				<p class='error-message'>{{ error }}</p>
			{% endfor %}
		{% endif %}

		{{ form.first_name }}
	</div>

	<div class='form-group'>
		{{ form.last_name.label }}

		{% if form.last_name.errors %}
			{% for error in form.last_name.errors %}
				<p class='error-message'>{{ error }}</p>
			{% endfor %}
		{% endif %}

		{{ form.last_name }}
	</div>
	<div class='form-group-gender'>
		{{ form.gender.label }}

		{% if form.gender.errors %}
			{% for error in form.gender.errors %}
				<p class='error-message'>{{ error }}</p>
			{% endfor %}
		{% endif %}
		{{ form.gender}}
	</div>

				
	<div class='form-group'>
		<br>
		{{ form.birth_date.label }}
		{% if form.birth_date.errors %}
			{% for error in form.birth_date.errors %}
				<p class='error-message'>{{ error }}</p>
			{% endfor %}
		{% endif %}
		{{ form.birth_date(placeholder='mm-dd-YYYY') }}
	</div>

	<div class='form-group'>
		{{ form.height.label }}
		{% if form.height.errors %}
			{% for error in form.height.errors %}
				<p class='error-message'>{{ error }}</p>
			{% endfor %}
		{% endif %}

		{{ form.height }}
	</div>
    <input type="radio" name="heightunit" value="cm" checked="true" style="position: relative; margin: 0px -125px 0px -122px;">cm</input>
    <input type="radio" name="heightunit" value="in" style="position: relative; margin: 0px -125px 0px -122px;">in</input>
    <br><br>

	<div class='form-group'>
		{{ form.weight.label }}
		{% if form.weight.errors %}
			{% for error in form.weight.errors %}
				<p class='error-message'>{{ error }}</p>
			{% endfor %}
		{% endif %}

		{{ form.weight }}
	</div>
    <input type="radio" name="weightunit" value="kg" checked="true" style="position: relative; margin: 0px -125px 0px -122px;">kg</input>
    <input type="radio" name="weightunit" value="lbs" style="position: relative; margin: 0px -125px 0px -122px;">lbs</input>
    <br><br>
	
    <div class='form-group'>
		{{ form.diet.label }}

		{% if form.diet.errors %}
			{% for error in form.diet.errors %}
				<p class='error-message'>{{ error }}</p>
			{% endfor %}
		{% endif %}
    	{{ form.diet}}
	</div>

	<div class='form-group'>
		{{ form.intolerences.label }}

			{% if form.intolerences.errors %}
				{% for error in form.intolerences.errors %}
					<p class='error-message'>{{ error }}</p>
				{% endfor %}
			{% endif %}
        {{ form.intolerences}}
	</div>

	<div class='form-group'>
		{{ form.activity_level.label }}
			<div class="help-tip">
    			<p>This is the inline help tip! It can contain all kinds of HTML. Style it as you please.</p>
			</div>
			{% if form.activity_level.errors %}
				{% for error in form.activity_level.errors %}
					<p class='error-message'>{{ error }}</p>
				{% endfor %}
			{% endif %}
        {{ form.activity_level}}
	</div>

	{{ form.submit(class='next action-button') }}
  </fieldset>
</form>

</main>
{% endblock %}