{% extends "layout.html" %}


{% block content %}
<main class="container signup-section">
    <div class="page-header">
        <h1>Reset Your Password</h1>
    </div>

    <form method="POST" action="/reset">
        {{ form.hidden_tag() }}
    <div class="section-content">
    <div class='form-group'>
		{{ form.email.label }}

		{% if form.email.errors %}
			{% for error in form.email.errors %}
				<p class='error-message'>{{ error }}</p>
			{% endfor %}
		{% endif %}

		{{ form.email }}
	</div>
    {{ form.submit(class="btn-primary") }}
    </div>
        </form>
    </main>
{% endblock %}