{% extends "layout.html" %}
{% block content %}
    <style>
        body{
            background:url(static/img/food_world.jpg) no-repeat center;
        }
    </style>
<main>


<!--form id="msform"-->
	<form  id="msform" method="POST" action='/signup1'>
				{{ form.hidden_tag() }}
  <!-- progressbar -->
  <ul id="progressbar">
    <li class="active">Account Setup</li>
    <li>Personal Details</li>
  </ul>
  <!-- fieldsets -->
  <fieldset>
    <h2 class="fs-title">Create your account</h2>
    <h3 class="fs-subtitle">This is step 1</h3>

    <!--input type="text" name="username" placeholder="Username"--> 
	<div class='form-group'>
		{{ form.nick_name.label }}

			{% if form.nick_name.errors %}
				{% for error in form.nick_name.errors %}
					<p class='error-message'>{{ error }}</p>
				{% endfor %}
			{% endif %}

		{{ form.nick_name }}
	</div>
	<!--/input-->
    <!--input type="text" name="email" placeholder="Email" /-->
	<div class='form-group'>
		{{ form.email.label }}

		{% if form.email.errors %}
			{% for error in form.email.errors %}
				<p class='error-message'>{{ error }}</p>
			{% endfor %}
		{% endif %}

		{{ form.email }}
	</div>
    <!--input type="password" name="pass" placeholder="Password" /-->
	<div class='form-group'>
		{{ form.password.label }}

		{% if form.password.errors %}
			{% for error in form.password.errors %}
				<p class='error-message'>{{ error }}</p>
			{% endfor %}
		{% endif %}

		{{ form.password }}
	</div>
    <!--input type="password" name="cpass" placeholder="Confirm Password" /-->
	<div class='form-group'>
		{{ form.password2.label }}

		{% if form.password2.errors %}
			{% for error in form.password2.errors %}
				<p class='error-message'>{{ error }}</p>
			{% endfor %}
		{% endif %}

		{{ form.password2 }}
	</div>
    <!--input type="button" name="next" class="next action-button"><a href="{{ url_for('personal_details') }}">Next</a-->
	{{ form.submit(class='next action-button') }}
  </fieldset>
</form>

</main>
{% endblock %}