html, body, h1 {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f4f4;
  font-family: 'Open Sans', sans-serif;
}

h2 {

  font-weight: 300;

  letter-spacing: -1.2px;
}

a {
  text-decoration: none;
  display: inline-block;
}

.container {
  width: 1000px;
  margin: 0 auto;
}
.put-right{
	float : right;
	font-size : 30 pt;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.pull-center {
  text-align: center;
}

.clearfix {
  clear: both;
}

.section-content {
  color: #3a3a3a;
  float: left;
  width: 340px;
}

.section-device {
  float: right;
  position: relative;
  top: 65px;
}

.section-device img {
  width: 600px;
}

.btn-primary {
  background: #4285f4;
  border: 1px solid #1266f1;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.23px;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-secondary {
  background: #ffffff;
  border: 1px solid #e6e6e6;
  color: #3372df;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.23px;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-login {
  background: green;
  border: 1px solid darkgreen;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.23px;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  left: 75px;
  top: 20px;
}




/*
 * Header
 */

header {
  background-color: #fff;
  padding: 25px 0;
}

.title {
  float: left;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 17px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

.title a, .title a:visited {
  color: #3a3a3a;
}

.signup {
  background: #ffffff;
  color: #3372df;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  float: right;
  letter-spacing: 2.5px;
  text-transform: uppercase;

}

.login {
  background: #ffffff;
  color: #3372df;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  float: right;
  letter-spacing: 2.5px;
  text-transform: uppercase;

}

/*
 *layout2
 */
 .username {
	background: #ffffff;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  float: right;
  letter-spacing: 2.5px;
  text-transform: uppercase;
 }
.btn-logout {
  background: #ffffff;
  color: #3372df;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  float: right;
  letter-spacing: 2.5px;
  text-transform: uppercase;


}

 .dropbtn {
    background-color: #4285f4;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: absolute;
	right: 150px;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.main-nav {
  float: right;
}

.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav li {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

.main-nav li a {
  color: #3a3a3a;
}


/*
 * Hero section
 */

.hero-section .section-content {
  position: relative;
  top: 100px;
}

.hero-section .section-content h2 {
  font-size: 40px;
}

.hero-section .section-content .btn-primary {
  margin-right: 10px;
}

.hero-section .section-content .btn-login {
  margin-right: 30px;
}

/*
 * Sign up
 */

.signup-section .section-content h2 {
  font-size: 30px;
}

.signup-section .section-content {
  position: relative;
  top: 53px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  color: #3a3a3a;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
}

.form-group-gender label {
	color: #3a3a3a;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
}

.form-group input {
  border: none;
  border-bottom: 2px solid #4285f4;
  background-color: transparent;
  color: #3a3a3a;
  font-size: 18px;
  padding: 5px 0;
  width: 100%;
}

.form-group input:focus {
  outline: 0;
}

.form-group .error-message {
  margin: 10px 0;
  color: #db4437;
}

.form-group .error-message + input {
  border-bottom: 2px solid #db4437;
}

.error-message {
  color: #db4437;
}


/*
 * Sign up
 */

.about-section h2 {
  font-size: 30px;
  margin-bottom: 0;
}

.about-section p {
  font-size: 16px;
}


/*
 * Home
 */

.section-tabs {
  float: left;
  width: 340px;
}

.section-tabs .places {
  margin-top: 62px;
  padding-right: 20px;
}

.section-tabs .places a,
.section-tabs .places a:visited {
  color: #3372df;
}


.section-tabs article {
  margin-bottom: 20px;
}

.section-tabs article .name {
  font-size: 18px;
}

.section-tabs article .walking-distance {
  color: #6e6e6e;
  font-size: 13px;
  margin: 0;
}

.section-map {
  float: right;
  width: 660px;
}

.section-map .nav {
  padding: 20px 0;
}

.section-map .form-group {
  display: inline;
}

.section-map #address {
  font-size: 14px;
  margin-right: 10px;
  width: 87%;
}

.section-map #submit {
  font-size: 10px;
  padding: 5px 15px;
}

#map {
  height: 500px;
}

.leaflet-popup-content h3 {
  margin: 0;
}

.leaflet-popup-content p {
  margin: 10px 0 ;
}

/*added for ranges*/
.range-slider__range {
    -webkit-appearance: none;
    width: calc(100% - (73px));
    height: 10px;
    border-radius: 5px;
    background: #d7dcdf;
    outline: none;
    padding: 0;
    margin: 0;
}
.range-slider__value {
    display: inline-block;
    position: relative;
    width: 60px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #2c3e50;
    padding: 5px 10px;
    margin-left: 8px;
}
/*added for ranges changing*/
.slider {
  display: block;
  position: relative;
  height: 36px;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.slider .slider-touch-left,
.slider .slider-touch-right {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  position: absolute;
  height: 36px;
  width: 36px;
  padding: 6px;
  z-index: 2;
}
.slider .slider-touch-left span,
.slider .slider-touch-right span {
  display: block;
  width: 100%;
  height: 100%;
  background: #F0F0F0;
  border: 1px solid #A4A4A4;
  border-radius: 50%;
}
.slider .slider-line {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  width: calc(100% - 36px);
  left: 18px;
  top: 16px;
  height: 4px;
  border-radius: 4px;
  background: #F0F0F0;
  z-index: 0;
  overflow: hidden;
}
.slider .slider-line span {
  display: block;
  height: 100%;
  width: 0%;
  background: orange;
}
/*added for newform*/
div {
}
.wrapper {
  margin: 50px;
}

/*added for regenerate recipes button*/
button#regeneraterecipes{
  background: gray;
  border: 1px solid #e6e6e6;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.23px;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  left: 430px;
  bottom: 100px;
}

h2#newformh2{
  margin: 75px; #addedfornewform
}

div#user_data{
  margin: 75px; #addedforresults
}

/*added for user nutrients in results page*/
div#user_nutrients{
  float: right;
  position: absolute;
  bottom: 120px;
  right: 160px;
}

div#user_data{
  position: relative;
}

/*added for user nutrients in basic results page*/
div#user_nutrients_br{
  float: right;
  position: absolute;
  bottom: 175px;
  right: 160px;
}

/*added for change sth button*/
a#change-btn {
  background: gray;
  border: 1px solid #e6e6e6;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.23px;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  left: 430px;
  bottom: 57px;
}

div#bs-ex{
  position: absolute;
  left:200px;
  top:92px;
}

/*added for submit button in home page*/
input#search{
  background: #4285f4;
  border: 1px solid #1266f1;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.23px;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
/*
 *Settings page
 */
 .recipeTypes.ul {
 list-style-type: none;
    margin: 0;
    padding: 0;
	float: right;
    margin-right: 0px;
 }

/*
 *Sidebar
 */
	*{
	padding:0px;
	margin:0px;
}
.sidebar2{
	width:150px;
    height:100%;
    background:#4285f4;
   }
.sidebar2 a{
	text-decoration:none;
    color:white;
    padding:10px;
    padding-right:100px;
    }
.sidebar2 ul li{
	list-style-type:none;
    display:block;
    padding:15px;
    border-bottom:1px solid #236D7F;
    }
.sidebar2 ul li:hover{
	background:white;
    transition : linear all 0.40s;
    margin-left : 10px;
}
.sidebar2 ul li a:hover{
	color:black;
    }
.selected{
	background : white;
    }
.selected a{
    color:black;
	font-weight : bolder;
	font-size : 16px;
    }

/*
 *Profile
 */
.container-profile{
    position: absolute;
    left:200px; top:92px; right:0; bottom:0;
}

/*
 *Home
 */
.container-home{
    position: absolute;
    left:200px; top:92px; right:0; bottom:0;
}

/*
 *Settings
 */
.container-settings{
    position: absolute;
    left:200px; top:92px; right:0; bottom:0;
}

/*
 *History
 */
.container-history{
    position: absolute;
    left:200px; top:300px; right:0; bottom:0;
}
.pull-left-history {

  position: absolute;
  left:200px; top:350px; right:0; bottom:0;
}

.pull-right-history {
  position: absolute;
  left:1200px;top:350px; right:0; bottom:0;
}

.pull-center-history {
  position: absolute;
  left:700px;top:350; right:0; bottom:0;
}

    /*star rating*/

/*
 *signup1
 */
 /*custom font*/


/*basic reset*/
* {margin: 0; padding: 0;}

body .signup1 {
	font-family: montserrat, arial, verdana;
}
/*form styles*/
#msform {
	width: 400px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;

	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #4285f4;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	font-size: 24px;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 10px 15px;
    border-bottom: 2px solid #6caee0;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	margin-left:100px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
    font-weight: bolder;
	text-transform: uppercase;
	font-size: 14px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: black;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #4285f4;
	color: black;
}

/*
 *tooltip
 */
 .help-tip{
    position: absolute;
    top: 18px;
    right: 18px;
    text-align: center;
    background-color: #BCDBEA;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 26px;
    cursor: default;
}

.help-tip:before{
    content:'?';
    font-weight: bold;
    color:#fff;
}

.help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;

    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{    /* The tooltip */
    display: none;
    text-align: left;
    background-color: #1E2021;
    padding: 20px;
    width: 300px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -4px;
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;
}

.help-tip p:before{ /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#1E2021;
    right:10px;
    top:-12px;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}

/*
*basic results page
*/
.container-results{
    position: absolute;
    left:200px; top:92px; right:0; bottom:0;
}