{% extends "layout2.html" %}
{% block content %}

<main>
<script   src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
	<aside>
	<div class="sidebar2" >
		<ul>
			<li ><a href="{{ url_for('profile') }}">GENERAL INFORMATION</a></li>
			<li ><a href="{{ url_for('home') }}">GET A RECIPE</a></li>
			<li class="selected"><a href="{{ url_for('history') }}">HISTORY</a></li>
			<li ><a href="{{ url_for('settings') }}">SETTINGS</a></li>
		</ul>
	</div>
	</aside>
 <script type="text/javascript" src="script.js"></script>
	<div>

    	<br>
    	<h1 class="container-history">What you already tried :</h1>
		</div>
    	<form style="position: absolute; left:200px; top:92px; right:0; bottom:0;" method="POST" action="/history">
				{{ form.hidden_tag() }}
				<div class="form-group">
					{{ form.recipe.label }}
					{{ form.recipe }}
				</div>
				<div class="form-group">
					{{ form.mark.label }}
					{{ form.mark }}
				</div>
			{{ form.submit(class="btn-primary") }}
			</form>
		<br><br>
        <div class="pull-left-history">
    	    <h2>Recipe</h2>
            {% for key in  response.recipes_name %}
                <br>
                <p>{{ key }}</p>
            {% endfor %}
        </div>
        <div class="pull-right-history">
		    <h2>Rate</h2>
                {% for key in response.marks %}
                    <br>
                    {% if key==1 %}
                        <p>&#9733; &#9734; &#9734; &#9734; &#9734;</p>
                    {% endif %}
                    {% if key==2 %}
                        <p>&#9733; &#9733; &#9734; &#9734; &#9734;</p>
                    {% endif %}
                    {% if key==3 %}
                        <p>&#9733; &#9733; &#9733; &#9734; &#9734;</p>
                    {% endif %}
                    {% if key==4 %}
                        <p>&#9733; &#9733; &#9733; &#9733; &#9734;</p>
                    {% endif %}
                    {% if key==5 %}
                        <p>&#9733; &#9733; &#9733; &#9733; &#9733;</p>
                    {% endif %}
                    {% if key==None %}
                        <p>Not marked yet</p>
                    {% endif %}
                {% endfor %}
        </div>
        <div  class="pull-center-history">
    	    <h2>Link</h2>
            {% for key in response.recipes_link %}
                <br>
                <a href={{ key }}>Link</a>
                <br>
            {% endfor %}
        </div>
<!--
		<fieldset class="rating">
    		<input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
    		<input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
    		<input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
    		<input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
    		<input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
    		<input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
    		<input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
    		<input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
    		<input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
    		<input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
		</fieldset>-->

</main>


{% endblock %}