<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Recipes</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/js/myscript.js"></script>
</head>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-xs-12">
          <h3><i class="fa fa-user"></i>Recipes</h3>
          <div class="panel-group" id="accordion">

            <!-- panel1  -->
            <!-- <div class="panel panel-default" id="panel1">
              <div class="panel-heading" data-toggle="collapse" data-target="#collapse1">
                <h4 class="panel-title"><a data-toggle="collapse" data-target="#collapse1" href="#collapse1">{{response.recipes[0].title}}</a></h4>
              </div>

              <div id="collapse1" class="panel-collapse collapse in fade">
                <div class="panel-body">
                  {{response.recipes[0].title}}
                </div>
              </div>
            </div> -->

            <!-- panel2 -->

            <!-- <div class="panel panel-default" id="panel2" data-toggle="collapse" data-target="#collapse2">
              <div class="panel-heading" data-toggle="collapse" data-target="#collapse2">
                <h4 class="panel-title"><a data-toggle="collapse" data-target="#collapse2" href="#collapse2" class="collapsed">Links</a></h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse fade">
                <div class="panel-body">
                  Drumstick beef ribs venison sirloin pork loin salami swine frankfurter cow doner short loin landjaeger shankle pig. Meatloaf swine filet mignon, shankle biltong ground round tongue pancetta jerky picanha tenderloin.
                </div>
              </div>
            </div> -->

            <!-- panel3 -->

            <!-- <div class="panel panel-default" id="panel3" data-toggle="collapse" data-target="#collapse3">
              <div class="panel-heading" data-toggle="collapse" data-target="#collapse3">
                <h4 class="panel-title"><a data-toggle="collapse" data-target="#collapse3" href="#collapse3" class="collapsed">Notes</a></h4>
              </div>
              <div id="collapse3" class="panel-collapse collapse  fade">
                <div class="panel-body">Drumstick beef ribs venison sirloin pork loin salami swine frankfurter cow doner short loin landjaeger shankle pig. Meatloaf swine filet mignon, shankle biltong ground round tongue pancetta jerky picanha tenderloin. Fatback t-bone sausage
                  ground round. Pastrami meatball spare ribs sirloin.
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
