<html>
    <head>

      <title>Diet Optimization</title>
      <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    </head>
   <body>
     <script type="text/javascript" src="script.js"></script>
     <h2> Change your information here.
     </h>
         <div id="user_form" class="wrapper">
           <form action="/recresults" method="get">
             <dl>
                 <dt>Which diet are you following?
                 <dt>
                   <select name="diet" id="diet">
                   {% for key, value in response.diet_dictionary.iteritems() %}
                      {% if key == response.diet %}
                        <option selected="selected" value="{{key}}">{{value}}</option>
                      {% else %}
                        <option value="{{key}}">{{value}}</option>
                      {% endif %}
                   {% endfor %}
                   </select>
                 <dt>
                 <dt>Which cuisine(s) would you like to include?
                 <dt>
                   <select multiple name="cuisine" id="cuisine">
                     {% for key, value in response.cuisine_dictionary.iteritems() %}
                        {% if key in response.cuisine %}
                          <option selected="selected" value="{{key}}">{{value}}</option>
                        {% else %}
                          <option value="{{key}}">{{value}}</option>
                        {% endif %}
                     {% endfor %}
                   </select>

            <font size="3" color="grey">Hold down the Ctrl (windows) / Command (Mac) button to select multiple options.</font>

                  <dt>Do you have any intolerances?
                  <dt>
                    <select multiple name="intolerances" id="intolerances">
                      {% for key, value in response.intolerances_dictionary.iteritems() %}
                         {% if key in response.intolerances %}
                           <option selected="selected" value="{{key}}">{{value}}</option>
                         {% else %}
                           <option value="{{key}}">{{value}}</option>
                         {% endif %}
                      {% endfor %}
                   </select>

                 <dt>Which nutient do you want to focus on?
                 <dt>
                   <select name="objNut" id="objNut">
                     {% for key in response.obj_nut_list %}
                        {% if key in response.obj_nut %}
                          <option selected="selected" value="{{key}}">{{key}}</option>
                        {% else %}
                          <option value="{{key}}">{{key}}</option>
                        {% endif %}
                     {% endfor %}
                   </select>

                 <dt>Do you want to maximize or minimize that?
                 <dt>
                 <select name="obj" id="obj">
                   {% for key in response.obj_list %}
                      {% if key in response.obj %}
                        <option selected="selected" value="{{key}}">{{key}}</option>
                      {% else %}
                        <option value="{{key}}">{{key}}</option>
                      {% endif %}
                   {% endfor %}
                 </select>
                 <br>
                 <dt>Which kind of recipes do you want? (One or more)
                 <dt>
                 <select multiple name="recipeTypes" id="recipeTypes">
                   {% for key, value in response.recipe_types_dictionary.iteritems() %}
                      {% if key in response.recipe_types %}
                        <option selected="selected" value="{{key}}">{{value}}</option>
                      {% else %}
                        <option value="{{key}}">{{value}}</option>
                      {% endif %}
                   {% endfor %}
                 </select>

                 <dt>Calories:</dt>
                 Lower Bound: <input type=number value="{{response.cal_low}}" name="calLow" id="calLow">
                 Upper Bound: <input type=number value="{{response.cal_up}}" name="calUp" id="calUp">

                 <dt>Protein:</dt>
                 Lower Bound: <input type=number value="{{response.prot_low}}" name="protLow" id="protLow">
                 Upper Bound: <input type=number value="{{response.prot_up}}" name="protUp" id="protUp">

                 <dt>Carb:</dt>
                 Lower Bound: <input type=number value="{{response.carb_low}}" name="carbLow" id="carbLow">
                 Upper Bound: <input type=number value="{{response.carb_up}}" name="carbUp" id="carbUp">

                 <dt>Fat:</dt>
                 Lower Bound: <input type=number value="{{response.fat_low}}" name="fatLow" id="fatLow">
                 Upper Bound: <input type=number value="{{response.fat_up}}" name="fatUp" id="fatUp">


                 <dt><input type=submit id="search" value=Submit>
               </dl>
               <dt>
             </form>
           </div>
   </body>
</html>
